@import '../../mixins/mixins.scss';

.create-goal {

    & .hidden {
        display: none;
    }

    & .form {
        display: flex;
        flex-direction: column;
        
        & .goal-input {
            @include input;
        }

        & .button {
            @include button
        }
    }
}