@import '../../mixins/mixins.scss';

.login {
    padding: 0 1rem;

    .form {
        display: flex;
        flex-direction: column;

        .login-input {
            @include input
        }

        .button {
            @include button;
        }
    }
}